@main-background-color: #ffffff;
@block-color: #63d1bb;
@text-color: #404040;
@hover-color: #1e90ff;
@placeholder-color: #d3d3d3;
@shadow-color: #c7c7c7;

@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";
