.city-options {
  display: none;
  position: absolute;
  top: 95px;
  left: 90px;

  width: 300px;
  max-height: 400px;
  min-height: 200px;

  overflow-x: hidden;
  overflow-y: auto;

  border: 1px solid @text-color;
  box-shadow: 0 2px 3px #c7c7c7;
};

.city-options__result:hover {
  background-color: @hover-color;
  cursor: pointer;
};

.city-options__result {
  padding: 5px;
};

@media @tablet-widths {
  .city-options {
    top: 75px;
    left: 155px;
  };
};

@media @desktop-widths {
  .city-options {
    left: 190px;
  };
};
