.city-searchbox {
  .container();

  position: relative;

  margin-top: 20px;
};

.city-searchbox input {
  width: 270px;

  margin: 20px;
  padding: 5px;

  border: 1px solid darken(@placeholder-color, 20%);
};

.city-searchbox__pin {
  content: "";
  position: absolute;

  top: 45px;
  left: 280px;

  font-family: "Kontur Iconic", "Arial", sans-serif;
  color: darken(@placeholder-color, 20%);

  cursor: pointer;
};

.city-searchbox input:focus {
  margin: 19px;

  border: 2px solid @hover-color;
};

:focus::-webkit-input-placeholder {
  color: @placeholder-color;
};

:focus::-moz-placeholder {
  color: @placeholder-color;
};

:focus:-moz-placeholder {
  color: @placeholder-color;
};

:focus:-ms-input-placeholder {
  color: @placeholder-color;
};

.city-searchbox label {
  margin: 20px 0 20px 20px;

  font-weight: bold;
};

@media @tablet-widths {
  .city-searchbox__pin {
    top: 25px;
    left: 345px;
  };
};
